@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>View Movies <a class="nav-link text-dark" asp-area="" style="color:green" asp-controller="Home" asp-action="Movie">Click Here </a>.</h1>
</div>
